/**********************************************************************************

EGLSTANDAR: GL Standard Export

FormatCode:     EGLSTANDAR
Project:        GL Standard Export
Client ID:      TRO1001
Date/time:      2026-02-25 15:47:52.730
Ripout version: 7.4
Export Type:    Web
Status:         Testing
Environment:    NZ15
Server:         NZ1SUP5DB05
Database:       ULTIPRO_TROO
Web Filename:   TRO1001_832AV_EEHISTORY_EGLSTANDAR_ExportCode_YYYYMMDD_HHMMSS.txt
ARCHIVEPath:   \\us.saas\n0\data_exchange\TRO1001\Exports\UDES Archive\GL\
ExportPath:    
TestPath:      

**********************************************************************************/

SET NOCOUNT ON;

-----------
-- Drop the SavePath table if it exists
-----------

IF OBJECT_ID('U_EGLSTANDAR_SavePath') IS NOT NULL DROP TABLE dbo.U_EGLSTANDAR_SavePath


-----------
-- Create U_dsi_RipoutParms if it doesn't exist
-----------

IF OBJECT_ID('U_dsi_RipoutParms') IS NULL BEGIN

   CREATE TABLE dbo.U_dsi_RipoutParms (
   rpoFormatCode  VARCHAR(10)   NOT NULL,
   rpoParmType    VARCHAR(64)   NOT NULL,
   rpoParmValue01 VARCHAR(1024) NULL,
   rpoParmValue02 VARCHAR(1024) NULL,
   rpoParmValue03 VARCHAR(1024) NULL,
   rpoParmValue04 VARCHAR(1024) NULL,
   rpoParmValue05 VARCHAR(1024) NULL
)
END


-----------
-- Clear U_dsi_RipoutParms
-----------

DELETE FROM dbo.U_dsi_RipoutParms WHERE rpoFormatCode = 'EGLSTANDAR'


-----------
-- Add paths to U_dsi_RipoutParms
-----------

INSERT INTO dbo.U_dsi_RipoutParms (rpoFormatCode, rpoParmType, rpoParmValue01, rpoParmValue02)
SELECT

FormatCode,
'Path',
CfgName,
CfgValue

FROM dbo.U_Dsi_Configuration
WHERE FormatCode = 'EGLSTANDAR'
AND CfgName LIKE '%path%'


-----------
-- Add AscExp expSystemIDs to U_dsi_RipoutParms
-----------

INSERT INTO dbo.U_dsi_RipoutParms (rpoFormatCode, rpoParmType, rpoParmValue01, rpoParmValue02) 
SELECT

ExpFormatCode,
'expSystemID',
ExpExportCode,
ExpSystemID

FROM dbo.AscExp
WHERE ExpFormatCode = 'EGLSTANDAR'


-----------
-- Delete configuration data
-----------

DELETE [dbo].[AscDefF] WHERE EXISTS (SELECT 1 FROM dbo.AscDefH WHERE AdfHeaderSystemID = AdhSystemID AND AdhFormatCode = 'EGLSTANDAR')
DELETE FROM [dbo].[AscExp]                 WHERE ExpFormatCode = 'EGLSTANDAR'
DELETE FROM [dbo].[AscImp]                 WHERE ImpFormatCode = 'EGLSTANDAR'
DELETE FROM [dbo].[AscDefH]                WHERE AdhFormatCode = 'EGLSTANDAR'
DELETE FROM [dbo].[U_dsi_Configuration]    WHERE FormatCode    = 'EGLSTANDAR'
DELETE FROM [dbo].[U_dsi_SQLClauses]       WHERE FormatCode    = 'EGLSTANDAR'
DELETE FROM [dbo].[U_dsi_RecordSetDetails] WHERE FormatCode    = 'EGLSTANDAR'

IF OBJECT_ID('dbo.U_dsi_Translations')    IS NOT NULL DELETE FROM [dbo].[U_dsi_Translations]    WHERE FormatCode = 'EGLSTANDAR'
IF OBJECT_ID('dbo.U_dsi_Translations_v2') IS NOT NULL DELETE FROM [dbo].[U_dsi_Translations_v2] WHERE FormatCode = 'EGLSTANDAR'
IF OBJECT_ID('dbo.U_dsi_Translations_v3') IS NOT NULL DELETE FROM [dbo].[U_dsi_Translations_v3] WHERE FormatCode = 'EGLSTANDAR'


-----------
-- Drop export-specific objects
-----------

IF OBJECT_ID('dsi_vwEGLSTANDAR_Export') IS NOT NULL DROP VIEW [dbo].[dsi_vwEGLSTANDAR_Export];
GO
IF OBJECT_ID('dsi_sp_BuildDriverTables_EGLSTANDAR') IS NOT NULL DROP PROCEDURE [dbo].[dsi_sp_BuildDriverTables_EGLSTANDAR];
GO
IF OBJECT_ID('U_EGLSTANDAR_TmpAllocIDs') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_TmpAllocIDs];
GO
IF OBJECT_ID('U_EGLSTANDAR_TmpAlloc_20230203') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_TmpAlloc_20230203];
GO
IF OBJECT_ID('U_EGLSTANDAR_TmpAlloc') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_TmpAlloc];
GO
IF OBJECT_ID('U_EGLSTANDAR_Rates') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_Rates];
GO
IF OBJECT_ID('U_EGLSTANDAR_PerControls') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_PerControls];
GO
IF OBJECT_ID('U_EGLSTANDAR_OnTopRules') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_OnTopRules];
GO
IF OBJECT_ID('U_EGLSTANDAR_OnTopRates') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_OnTopRates];
GO
IF OBJECT_ID('U_EGLSTANDAR_OnTopCharges') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_OnTopCharges];
GO
IF OBJECT_ID('U_EGLSTANDAR_GLSegments') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_GLSegments];
GO
IF OBJECT_ID('U_EGLSTANDAR_File') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_File];
GO
IF OBJECT_ID('U_EGLSTANDAR_Errors') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_Errors];
GO
IF OBJECT_ID('U_EGLSTANDAR_EmpOrgLvl2s') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_EmpOrgLvl2s];
GO
IF OBJECT_ID('U_EGLSTANDAR_EEList') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_EEList];
GO
IF OBJECT_ID('U_EGLSTANDAR_DrvTbl') IS NOT NULL DROP TABLE [dbo].[U_EGLSTANDAR_DrvTbl];
GO
IF OBJECT_ID('tmp_U_EGLSTANDAR_GLSegments') IS NOT NULL DROP TABLE [dbo].[tmp_U_EGLSTANDAR_GLSegments];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_TmpAllocIDs') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_TmpAllocIDs];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_TmpAlloc') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_TmpAlloc];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_Rates') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_Rates];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_PerControls') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_PerControls];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_OnTopRules') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_OnTopRules];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_OnTopRates') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_OnTopRates];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_OnTopCharges') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_OnTopCharges];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_Errors') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_Errors];
GO
IF OBJECT_ID('PRE_U_EGLSTANDAR_DrvTbl') IS NOT NULL DROP TABLE [dbo].[PRE_U_EGLSTANDAR_DrvTbl];
GO

-----------
-- AscDefH inserts
-----------


-----------
-- AscDefF inserts
-----------

INSERT INTO [dbo].[AscDefF] (AdfFieldNumber,AdfHeaderSystemID,AdfLen,AdfRecType,AdfSetNumber,AdfStartPos,AdfTableName,AdfTargetField,AdfVariableName,AdfVariableType,AdfExpression,AdfForCond) VALUES ('1','EGLSTANDARZ0','50','H','01', '1',NULL,'Base Account',NULL,NULL,'"Base Account"','(''DA''=''T,'')');
INSERT INTO [dbo].[AscDefF] (AdfFieldNumber,AdfHeaderSystemID,AdfLen,AdfRecType,AdfSetNumber,AdfStartPos,AdfTableName,AdfTargetField,AdfVariableName,AdfVariableType,AdfExpression,AdfForCond) VALUES ('2','EGLSTANDARZ0','50','H','01', '2',NULL,'Pay Group',NULL,NULL,'"Pay Group"','(''DA''=''T,'')');
INSERT INTO [dbo].[AscDefF] (AdfFieldNumber,AdfHeaderSystemID,AdfLen,AdfRecType,AdfSetNumber,AdfStartPos,AdfTableName,AdfTargetField,AdfVariableName,AdfVariableType,AdfExpression,AdfForCond) VALUES ('3','EGLSTANDARZ0','50','H','01', '3',NULL,'Entity',NULL,NULL,'"Entity"','(''DA''=''T,'')');



-----------
-- Build web filename
-----------

/*01*/ DECLARE @FileURI varchar(255) = (SELECT stlvalue FROM dbo.vw_RbsSiteValues WHERE stlCode = 'FILEURI');
/*02*/ IF RIGHT(RTRIM(@FileURI),1) <> '\' AND LEN(@FileURI) > 1 SET @FileURI = RTRIM(@FileURI) + '\';
/*03*/ DECLARE @COCODE varchar(5) = (SELECT RTRIM(CmmCompanyCode) FROM dbo.CompMast);
/*04*/ DECLARE @FileName varchar(1000) = 'EGLSTANDAR_20260225.txt';
/*05*/ DECLARE @FilePath varchar(1000) = @FileURI + 'Exports\' + @COCODE + '\EmployeeHistoryExport\';

-----------
-- AscExp inserts
-----------


-----------
-- AscImp inserts
-----------


-----------
-- U_dsi_Configuration inserts
-----------

INSERT INTO [dbo].[U_dsi_Configuration] (FormatCode,CfgName,CfgType,CfgValue) VALUES ('EGLSTANDAR','ARCHIVEFILE','V','Y');
INSERT INTO [dbo].[U_dsi_Configuration] (FormatCode,CfgName,CfgType,CfgValue) VALUES ('EGLSTANDAR','ARCHIVEPath','V','\\us.saas\n0\data_exchange\TRO1001\Exports\UDES Archive\GL\');
INSERT INTO [dbo].[U_dsi_Configuration] (FormatCode,CfgName,CfgType,CfgValue) VALUES ('EGLSTANDAR','EEList','V','Y');

-----------
-- U_dsi_RecordSetDetails inserts
-----------


-----------
-- U_dsi_SQLClauses inserts
-----------

INSERT INTO [dbo].[U_dsi_SQLClauses] (FormatCode,RecordSet,FromClause,WhereClause) VALUES ('EGLSTANDAR','H01','None',NULL);
INSERT INTO [dbo].[U_dsi_SQLClauses] (FormatCode,RecordSet,FromClause,WhereClause) VALUES ('EGLSTANDAR','D10','dbo.U_EGLSTANDAR_DrvTbl',NULL);

-----------
-- U_dsi_Translations inserts
-----------


-----------
-- U_dsi_Translations_v2 inserts
-----------


-----------
-- Create table PRE_U_EGLSTANDAR_DrvTbl
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_DrvTbl') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_DrvTbl] (
    [DrvSource] varchar(32) NULL,
    [DrvChargeType] varchar(32) NULL,
    [DrvOrgLvl2] varchar(32) NULL,
    [DrvGLAcctNumber] varchar(50) NULL,
    [DrvRecType] varchar(6) NOT NULL,
    [DrvAmtRaw] money NULL,
    [DrvDebitRaw] money NULL,
    [DrvCreditRaw] money NULL,
    [DrvBaseAccount] varchar(32) NULL,
    [DrvPayGroup] varchar(32) NULL,
    [DrvOrganization] varchar(32) NULL,
    [DrvDepartment] varchar(32) NULL,
    [DrvNone] varchar(1) NOT NULL,
    [DrvProject] varchar(32) NULL,
    [DrvJob] varchar(32) NULL,
    [DrvCodeType] char(2) NULL,
    [DrvGLAccountName] char(40) NULL,
    [DrvUKGPaycode] varchar(45) NULL,
    [DrvDebitOrCredit] varchar(32) NULL,
    [DrvDebit] varchar(32) NULL,
    [DrvCredit] varchar(32) NULL,
    [DrvPayPeriodEndDate] datetime NULL,
    [DrvPayDate] datetime NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_Errors
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_Errors') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_Errors] (
    [RowID] int IDENTITY(1,1) NOT NULL,
    [ErrorMsg] varchar(256) NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_OnTopCharges
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_OnTopCharges') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_OnTopCharges] (
    [ChargeType] varchar(32) NULL,
    [DebitAccount] varchar(32) NULL,
    [CreditAccount] varchar(32) NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_OnTopRates
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_OnTopRates') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_OnTopRates] (
    [ChargeType] char(15) NULL,
    [Descr] varchar(1024) NULL,
    [CalcRule] varchar(1024) NULL,
    [OrgLvl2] varchar(32) NULL,
    [EffDate] date NULL,
    [DebitAccount] varchar(32) NULL,
    [DebitAccountDescr] char(40) NULL,
    [CreditAccount] varchar(32) NULL,
    [CreditAccountDescr] char(40) NULL,
    [Rate] float NULL,
    [Headcount] int NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_OnTopRules
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_OnTopRules') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_OnTopRules] (
    [ChargeType] char(15) NULL,
    [Descr] varchar(1024) NULL,
    [CalcRule] varchar(1024) NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_PerControls
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_PerControls') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_PerControls] (
    [xPerControl] varchar(32) NULL,
    [xPerControlError] varchar(256) NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_Rates
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_Rates') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_Rates] (
    [OrgLvl2] varchar(32) NULL,
    [EffDateRaw] varchar(32) NULL,
    [EffDate] date NULL,
    [ChargeType] varchar(32) NULL,
    [Rate] varchar(32) NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_TmpAlloc
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_TmpAlloc') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_TmpAlloc] (
    [vCOID] char(5) NOT NULL,
    [vEEID] char(12) NULL,
    [vPerControl] char(9) NULL,
    [vGLAcctNumber] varchar(50) NULL,
    [vRecID] int NOT NULL,
    [vGLCodeType] char(2) NULL,
    [vCode] char(10) NULL,
    [vCodeDesc] varchar(45) NULL,
    [vAcctDesc] char(40) NULL,
    [vGenNumber] char(12) NULL,
    [vOrgLvl2] varchar(10) NULL,
    [vOrgLvl2Seg] varchar(15) NULL,
    [vHomeOrgLvl2] varchar(10) NULL,
    [vHomeOrgLvl2Seg] char(15) NULL,
    [vGLAcctType] varchar(1) NULL,
    [vAllocAmtOrig] money NULL,
    [vWorkersCompRate] varchar(32) NULL,
    [vAllocAmt] money NULL,
    [vDebitAmt] money NULL,
    [vCreditAmt] money NULL,
    [vAllocHrs] decimal NULL,
    [vPeriodEndDate] datetime NULL,
    [vPerControlDate] datetime NULL
);

-----------
-- Create table PRE_U_EGLSTANDAR_TmpAllocIDs
-----------

IF OBJECT_ID('PRE_U_EGLSTANDAR_TmpAllocIDs') IS NULL
CREATE TABLE [dbo].[PRE_U_EGLSTANDAR_TmpAllocIDs] (
    [dsiRecID] int NULL
);

-----------
-- Create table tmp_U_EGLSTANDAR_GLSegments
-----------

IF OBJECT_ID('tmp_U_EGLSTANDAR_GLSegments') IS NULL
CREATE TABLE [dbo].[tmp_U_EGLSTANDAR_GLSegments] (
    [SegGLAcctNumber] varchar(50) NULL,
    [Seg01] varchar(32) NULL,
    [Seg02] varchar(32) NULL,
    [Seg03] varchar(32) NULL,
    [Seg04] varchar(32) NULL,
    [Seg06] varchar(32) NULL,
    [Seg07] varchar(32) NULL
);

-----------
-- Create table U_EGLSTANDAR_DrvTbl
-----------

IF OBJECT_ID('U_EGLSTANDAR_DrvTbl') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_DrvTbl] (
    [DrvSource] varchar(32) NULL,
    [DrvChargeType] varchar(32) NULL,
    [DrvOrgLvl2] varchar(32) NULL,
    [DrvGLAcctNumber] varchar(50) NULL,
    [DrvRecType] varchar(6) NOT NULL,
    [DrvAmtRaw] money NULL,
    [DrvDebitRaw] money NULL,
    [DrvCreditRaw] money NULL,
    [DrvBaseAccount] varchar(32) NULL,
    [DrvPayGroup] varchar(32) NULL,
    [drvEntity] varchar(32) NULL,
    [DrvProjectID] varchar(32) NULL,
    [DrvDepartment] varchar(32) NULL,
    [DrvFinBaseAcct] varchar(32) NULL,
    [DrvFinSubAcct] varchar(32) NULL,
    [DrvJob] varchar(32) NULL,
    [DrvBillingGroup] varchar(32) NULL,
    [DrvProject] varchar(32) NULL,
    [DrvGLAccountName] char(40) NULL,
    [DrvUKGPaycode] varchar(45) NULL,
    [DrvDebitOrCredit] varchar(32) NULL,
    [DrvDebit] varchar(32) NULL,
    [DrvCredit] varchar(32) NULL,
    [DrvPayPeriodEndDate] datetime NULL,
    [DrvPayDate] datetime NULL,
    [DrvCodeType] char(2) NULL
);

-----------
-- Create table U_EGLSTANDAR_EEList
-----------

IF OBJECT_ID('U_EGLSTANDAR_EEList') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_EEList] (
    [xCOID] char(5) NULL,
    [xEEID] char(12) NULL
);

-----------
-- Create table U_EGLSTANDAR_EmpOrgLvl2s
-----------

IF OBJECT_ID('U_EGLSTANDAR_EmpOrgLvl2s') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_EmpOrgLvl2s] (
    [RowID] int IDENTITY(1,1) NOT NULL,
    [EEID] char(12) NULL,
    [ChargeType] varchar(200) NOT NULL,
    [OrgLvl2] varchar(10) NULL,
    [HomeOrgLvl2] varchar(10) NULL,
    [OrgCount] int NULL,
    [ValidRow] char(1) NULL
);

-----------
-- Create table U_EGLSTANDAR_Errors
-----------

IF OBJECT_ID('U_EGLSTANDAR_Errors') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_Errors] (
    [RowID] int IDENTITY(1,1) NOT NULL,
    [ErrorMsg] varchar(256) NULL
);

-----------
-- Create table U_EGLSTANDAR_File
-----------

IF OBJECT_ID('U_EGLSTANDAR_File') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_File] (
    [RecordSet] char(3) NOT NULL,
    [InitialSort] varchar(100) NOT NULL,
    [SubSort] varchar(100) NOT NULL,
    [SubSort2] varchar(100) NULL,
    [SubSort3] varchar(100) NULL,
    [Data] varchar(max) NULL
);

-----------
-- Create table U_EGLSTANDAR_GLSegments
-----------

IF OBJECT_ID('U_EGLSTANDAR_GLSegments') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_GLSegments] (
    [SegGLAcctNumber] varchar(50) NULL,
    [Seg01] varchar(32) NULL,
    [Seg02] varchar(32) NULL,
    [Seg03] varchar(32) NULL,
    [Seg04] varchar(32) NULL,
    [Seg05] varchar(32) NULL,
    [Seg06] varchar(32) NULL,
    [Seg07] varchar(32) NULL,
    [Seg08] varchar(32) NULL,
    [Seg09] varchar(32) NULL,
    [Seg10] varchar(32) NULL,
    [glCode] char(10) NULL,
    [CodeType] char(2) NULL,
    [Org2] char(10) NULL,
    [SegCode] char(5) NULL
);

-----------
-- Create table U_EGLSTANDAR_OnTopCharges
-----------

IF OBJECT_ID('U_EGLSTANDAR_OnTopCharges') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_OnTopCharges] (
    [ChargeType] varchar(32) NULL,
    [DebitAccount] varchar(32) NULL,
    [CreditAccount] varchar(32) NULL
);

-----------
-- Create table U_EGLSTANDAR_OnTopRates
-----------

IF OBJECT_ID('U_EGLSTANDAR_OnTopRates') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_OnTopRates] (
    [ChargeType] char(15) NULL,
    [Descr] varchar(1024) NULL,
    [CalcRule] varchar(1024) NULL,
    [OrgLvl2] varchar(32) NULL,
    [EffDate] date NULL,
    [DebitAccount] varchar(32) NULL,
    [DebitAccountDescr] char(40) NULL,
    [CreditAccount] varchar(32) NULL,
    [CreditAccountDescr] char(40) NULL,
    [Rate] float NULL,
    [Headcount] int NULL
);

-----------
-- Create table U_EGLSTANDAR_OnTopRules
-----------

IF OBJECT_ID('U_EGLSTANDAR_OnTopRules') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_OnTopRules] (
    [ChargeType] char(15) NULL,
    [Descr] varchar(1024) NULL,
    [CalcRule] varchar(1024) NULL
);

-----------
-- Create table U_EGLSTANDAR_PerControls
-----------

IF OBJECT_ID('U_EGLSTANDAR_PerControls') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_PerControls] (
    [xPerControl] varchar(32) NULL,
    [xPerControlError] varchar(256) NULL
);

-----------
-- Create table U_EGLSTANDAR_Rates
-----------

IF OBJECT_ID('U_EGLSTANDAR_Rates') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_Rates] (
    [OrgLvl2] varchar(32) NULL,
    [EffDateRaw] varchar(32) NULL,
    [EffDate] date NULL,
    [ChargeType] varchar(32) NULL,
    [Rate] varchar(32) NULL
);

-----------
-- Create table U_EGLSTANDAR_TmpAlloc
-----------

IF OBJECT_ID('U_EGLSTANDAR_TmpAlloc') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_TmpAlloc] (
    [vCOID] char(5) NOT NULL,
    [vEEID] char(12) NULL,
    [vPerControl] char(9) NULL,
    [vGLAcctNumber] varchar(50) NULL,
    [vRecID] int NOT NULL,
    [vGLCodeType] char(2) NULL,
    [vCode] char(10) NULL,
    [vCodeDesc] varchar(45) NULL,
    [vAcctDesc] char(40) NULL,
    [vGenNumber] char(12) NULL,
    [vOrgLvl2] varchar(10) NULL,
    [vOrgLvl2Seg] varchar(15) NULL,
    [vHomeOrgLvl2] varchar(10) NULL,
    [vHomeOrgLvl2Seg] char(15) NULL,
    [vGLAcctType] varchar(1) NULL,
    [vAllocAmtOrig] money NULL,
    [vWorkersCompRate] varchar(32) NULL,
    [vAllocAmt] money NULL,
    [vDebitAmt] money NULL,
    [vCreditAmt] money NULL,
    [vAllocHrs] decimal NULL,
    [vPeriodEndDate] datetime NULL,
    [vPerControlDate] datetime NULL
);

-----------
-- Create table U_EGLSTANDAR_TmpAlloc_20230203
-----------

IF OBJECT_ID('U_EGLSTANDAR_TmpAlloc_20230203') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_TmpAlloc_20230203] (
    [vCOID] char(5) NOT NULL,
    [vEEID] char(12) NULL,
    [vPerControl] char(9) NULL,
    [vGLAcctNumber] varchar(50) NULL,
    [vRecID] int NOT NULL,
    [vGLCodeType] char(2) NULL,
    [vCode] char(10) NULL,
    [vCodeDesc] varchar(45) NULL,
    [vAcctDesc] char(40) NULL,
    [vGenNumber] char(12) NULL,
    [vOrgLvl2] varchar(10) NULL,
    [vOrgLvl2Seg] varchar(15) NULL,
    [vHomeOrgLvl2] varchar(10) NULL,
    [vHomeOrgLvl2Seg] char(15) NULL,
    [vGLAcctType] varchar(1) NULL,
    [vAllocAmtOrig] money NULL,
    [vWorkersCompRate] varchar(32) NULL,
    [vAllocAmt] money NULL,
    [vDebitAmt] money NULL,
    [vCreditAmt] money NULL,
    [vAllocHrs] decimal NULL,
    [vPeriodEndDate] datetime NULL,
    [vPerControlDate] datetime NULL
);

-----------
-- Create table U_EGLSTANDAR_TmpAllocIDs
-----------

IF OBJECT_ID('U_EGLSTANDAR_TmpAllocIDs') IS NULL
CREATE TABLE [dbo].[U_EGLSTANDAR_TmpAllocIDs] (
    [dsiRecID] int NULL
);
GO
CREATE   PROCEDURE [dbo].[dsi_sp_BuildDriverTables_EGLSTANDAR]
    @SystemID char(12)
AS
SET NOCOUNT ON;

/**********************************************************************************

Client Name: Troon Golf L.L.C.

Created By: John Transier
Business Analyst: Emily Gaddy
Create Date: 08/11/2021
Service Request Number: SR-2021-00314163

Purpose: GL Standard Export

Revision History
----------------
Update By           Date            Request Num            Desc
XXXX                XX/XX/2021        SR-2021-000XXXXX    XXXXX
Jose Sotolongo        02/06/2023        SR-2023-00399205    Adding check process log.
Karla smith            11/03/2025                            Split GL accounts

SELECT * FROM dbo.U_dsi_Configuration WHERE FormatCode = 'EGLSTANDAR';
SELECT * FROM dbo.U_dsi_SqlClauses WHERE FormatCode = 'EGLSTANDAR';
SELECT * FROM dbo.U_dsi_Parameters WHERE FormatCode = 'EGLSTANDAR';
SELECT ExpFormatCode, ExpExportCode, ExpStartPerControl, ExpEndPerControl, * FROM dbo.AscExp WHERE expFormatCode = 'EGLSTANDAR';
SELECT * FROM dbo.U_dsi_InterfaceActivityLog WHERE FormatCode = 'EGLSTANDAR' ORDER BY RunID DESC;

INSERT INTO [dbo].[U_dsi_Configuration] (FormatCode,CfgName,CfgType,CfgValue) VALUES ('EGLSTANDAR','ARCHIVEFILE','V','Y');
INSERT INTO [dbo].[U_dsi_Configuration] (FormatCode,CfgName,CfgType,CfgValue) VALUES ('EGLSTANDAR','ARCHIVEPath','V','\\us.saas\n0\data_exchange\TRO1001\Exports\UDES Archive\GL\');

SELECT * FROM U_EGLSTANDAR_File
c127

SELECT * FROM U_EGLSTANDAR_DrvTbl WHERE DrvFinSubAcct <> ''

SELECT * FROM U_EGLSTANDAR_TmpAllocIDs
SELECT * FROM U_EGLSTANDAR_TmpAlloc
SELECT * FROM U_EGLSTANDAR_TmpAlloc WHERE vGLCodeType in ('WL', 'WR')
SELECT * FROM U_EGLSTANDAR_PerControls
SELECT * FROM U_EGLSTANDAR_Errors
SELECT * FROM U_EGLSTANDAR_Rates
SELECT * FROM U_EGLSTANDAR_OnTopRules
SELECT * FROM U_EGLSTANDAR_OnTopCharges
SELECT * FROM U_EGLSTANDAR_OnTopRates
SELECT * FROM U_EGLSTANDAR_OnTopRates WHERE CalcRule = 'Pct*Gross'

SELECT distinct DrvEntity, len(DrvEntity)
 FROM U_EGLSTANDAR_DrvTbl WHERE DrvSource = 'Flat'  order by len(DrvEntity) desc
SELECT distinct DrvEntity, len(DrvEntity)
 FROM U_EGLSTANDAR_DrvTbl WHERE DrvSource = 'Dol*Headcount'  order by len(DrvEntity) desc
SELECT distinct DrvEntity, len(DrvEntity)
 FROM U_EGLSTANDAR_DrvTbl WHERE DrvSource = 'Pct*Gross'  order by len(DrvEntity) desc
SELECT distinct DrvEntity, len(DrvEntity)
 FROM U_EGLSTANDAR_DrvTbl WHERE DrvSource = 'TmpAlloc'  order by len(DrvEntity) desc

select distinct DrvSource
FROM U_EGLSTANDAR_DrvTbl 

Execute Export
--------------
EXEC dbo.dsi_sp_TestSwitchbox_v2 'EGLSTANDAR', 'ONDEM_XOE'  -- GL Standard Export
EXEC dbo.dsi_sp_TestSwitchbox_v2 'EGLSTANDAR', 'TEST_XOE'   -- GL Standard Export - Test
EXEC dbo.dsi_sp_TestSwitchbox_v2 'EGLSTANDAR', 'TESTDEV'    -- GL Standard Export - TC
EXEC dbo.dsi_sp_TestSwitchbox_v2 'EGLSTANDAR', 'TESTPERC'   -- GL Export - PerControl Range
EXEC dbo.dsi_sp_TestSwitchbox_v2 'EGLSTANDAR', 'TESTPERCSP' -- GL Export - Split PerControls



EXEC dbo._dsi_usp_ExportRipOut @FormatCode = 'EGLSTANDAR', @AllObjects = 'Y', @IsWeb = 'Y'

**********************************************************************************/

BEGIN

-----------
-- Collect date parameters
-----------

DECLARE

@StartDateTime            DATETIME,
@EndDateTime              DATETIME,
@StartPerControl          CHAR(9),
@EndPerControl            CHAR(9),
@FormatCode               CHAR(10),
@ExportCode               CHAR(10),
@ExportFile               CHAR(200),
@MaxPerControlDate        DATE,
@UseEnteredPerControls    CHAR(1)


SELECT

@StartDateTime   = CONVERT(DATETIME, LEFT(StartPerControl, 8) ),
@EndDateTime     = DATEADD(SS, -1, DATEADD(DD, 1, LEFT(EndPerControl, 8))), -- 11:59 PM
@StartPerControl = StartPerControl,
@EndPerControl   = EndPerControl,
@FormatCode      = RTRIM(FormatCode),
@ExportCode      = ExportCode,
@Exportfile      = ExportFile

FROM dbo.U_dsi_Parameters WITH (NOLOCK)
WHERE FormatCode = 'EGLSTANDAR'


-----------
-- Drop Tables
-----------

IF OBJECT_ID('dbo.U_EGLSTANDAR_DrvTbl')           IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_DrvTbl
IF OBJECT_ID('dbo.U_EGLSTANDAR_EmpOrgLvl2s')      IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_EmpOrgLvl2s
IF OBJECT_ID('dbo.U_EGLSTANDAR_Errors')           IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_Errors
IF OBJECT_ID('dbo.U_EGLSTANDAR_GLSegments')       IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_GLSegments
IF OBJECT_ID('dbo.U_EGLSTANDAR_Headcount')        IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_Headcount
IF OBJECT_ID('dbo.U_EGLSTANDAR_OnTopCharges')     IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_OnTopCharges
IF OBJECT_ID('dbo.U_EGLSTANDAR_OnTopRates')       IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_OnTopRates
IF OBJECT_ID('dbo.U_EGLSTANDAR_OnTopRules')       IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_OnTopRules
IF OBJECT_ID('dbo.U_EGLSTANDAR_PerControls')      IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_PerControls
IF OBJECT_ID('dbo.U_EGLSTANDAR_Rates')            IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_Rates
IF OBJECT_ID('dbo.U_EGLSTANDAR_TmpAlloc')         IS NOT NULL  DROP TABLE dbo.U_EGLSTANDAR_TmpAlloc


-----------
-- Create errors table
-----------

CREATE TABLE dbo.U_EGLSTANDAR_Errors(
RowID    INT IDENTITY(1, 1),
ErrorMsg VARCHAR(256) NULL
)


-----------
-- Do we use the entered PerControls?
-----------

-- The TESTPERC session uses the exact range of PerControls entered
-- TESTPERCSP uses PerControls in the CO_TROONGLJEPERCONTR business rule... this allows noncontiguous PerControls
-- All other sessions use all PerControls in TmpAlloc and then apply the customer logic to them

SET @UseEnteredPerControls = IIF(@ExportCode = 'TESTPERC', 'Y', 'N')


-----------
-- Create RecIDs table
-----------

EXEC dbo.dsi_sp_BuildTmpAllocIDsTable @SystemID, @UseEnteredPerControls


-----------
-- Create PerControls table
-----------

CREATE TABLE dbo.U_EGLSTANDAR_PerControls(

xPerControl      VARCHAR(32),
xPerControlError VARCHAR(256)
)

-----------
-- Populate the PerControls table
-----------

INSERT INTO dbo.U_EGLSTANDAR_PerControls
SELECT DISTINCT xPerControl = PerControl, ''

FROM dbo.TmpAlloc WITH (NOLOCK)
JOIN dbo.U_EGLSTANDAR_TmpAllocIDs WITH (NOLOCK) ON dsiRecID = RecID


-----------
-- Delete all regular (ending with 1) percontrols that are smaller than the maximum regular percontrol (customer requirement)
-----------

IF @ExportCode NOT IN ('TESTPERC', 'TESTPERCSP') BEGIN

   DELETE FROM a
     FROM dbo.U_EGLSTANDAR_PerControls a
    WHERE RIGHT(a.xPerControl, 1) = 1
      AND a.xPerControl <> (SELECT MAX(b.xPerControl) FROM dbo.U_EGLSTANDAR_PerControls b WHERE RIGHT(b.xPerControl, 1) = 1)

END


-----------
-- Populate the PerControls table for a noncontiguous run
-----------

IF @ExportCode = 'TESTPERCSP' BEGIN

   TRUNCATE TABLE dbo.U_EGLSTANDAR_PerControls

   INSERT INTO dbo.U_EGLSTANDAR_PerControls
   SELECT DISTINCT

   CodDesc,
   dbo.dsi_fnlib_IsPerControlValid(CodDesc)

   FROM dbo.Codes
   WHERE CodTable = 'CO_TROONGLJEPERCONTR'
     AND LTRIM(RTRIM(ISNULL(CodDesc, ''))) <> ''


   -- Check for errors

   IF (SELECT COUNT(1) FROM dbo.U_EGLSTANDAR_PerControls) = 0 BEGIN
      INSERT INTO dbo.U_EGLSTANDAR_Errors VALUES ('No PerControls found in business rule CO_TROONGLJEPERCONTR')
   END

   UPDATE a
      SET xPerControlError = 'PerControl ' + xPerControl + ' has no entries in selected TmpAlloc records'
     FROM dbo.U_EGLSTANDAR_PerControls a
    WHERE xPerControlError = ''
      AND NOT EXISTS (SELECT 1 FROM dbo.TmpAlloc
                        JOIN dbo.U_EGLSTANDAR_TmpAllocIDs WITH (NOLOCK) ON dsiRecID = RecID
                       WHERE PerControl = xPerControl)

   IF (SELECT COUNT(1) FROM dbo.U_EGLSTANDAR_PerControls WHERE xPerControlError <> '') > 0 BEGIN
      INSERT INTO dbo.U_EGLSTANDAR_Errors SELECT xPerControl + ': ' + xPerControlError FROM dbo.U_EGLSTANDAR_PerControls
   END


   -- All errors are fatal, so just truncate the U_EGLSTANDAR_PerControls table so the rest of the SP doesn't process anything

   IF (SELECT COUNT(1) FROM dbo.U_EGLSTANDAR_Errors) > 0 BEGIN
      TRUNCATE TABLE dbo.U_EGLSTANDAR_PerControls
   END

END


-----------
-- Build segments table
-----------

-- Done for performance
-- There may be hundreds of thousands of GL records but only a small number of distinct GLAcctNumbers,
-- so we just run the dsi_fnlib_GetDelimitedValue2 function on those

SELECT DISTINCT
SegGLAcctNumber = LTRIM(RTRIM(ISNULL(GLAcctNumber, ''))),
                Seg01 = CONVERT(VARCHAR(32), GLBaseSeg),  --base acct
                Seg02 = CONVERT(VARCHAR(32), PayGroup),    --paygroup
                Seg03 = CONVERT(VARCHAR(32), LEFT(ORGLVL2SEG,4)),    --entity
                Seg04 = CONVERT(VARCHAR(32), CASE WHEN LEN(ORGLVL2SEG) > 4 THEN SUBSTRING(ORGLVL2SEG,5,LEN(ORGLVL2SEG) - 4) ELSE '' END),    --project id
                Seg05 = CONVERT(VARCHAR(32), OrgLvl3Seg),    --department
                Seg06 = CONVERT(VARCHAR(32), ''),    --fin base
                Seg07 = CONVERT(VARCHAR(32), ''),    --fin sub
                Seg08 = CONVERT(VARCHAR(32), JOBCODE),    --jobcode
                Seg09 = CONVERT(VARCHAR(32), ''),    --billing grp
                Seg10 = CONVERT(VARCHAR(32), PROJECT)    --project        
                ,glCode = CODE
                ,CodeType = glcodetype
                ,OrgLvl2 Org2
                ,segmentcode SegCode
INTO dbo.U_EGLSTANDAR_GLSegments
--select *
FROM dbo.TmpAlloc a WITH (NOLOCK)
JOIN dbo.U_EGLSTANDAR_TmpAllocIDs WITH (NOLOCK) ON dsiRecID = RecID
JOIN dbo.U_EGLSTANDAR_PerControls WITH (NOLOCK) ON xPerControl = PerControl    
order by 1

UPDATE T
    SET        Seg06 = GlqConstantSegmentValue6 --FinBaseAccount
            ,Seg07 = TRIM(ISNULL(GlqConstantSegmentValue7,'')) + TRIM(ISNULL(GlqConstantSegmentValue8,'')) --FinSubAccount             
            ,seg09 = GlqConstantSegmentValue9          --billing group
    --select distinct GlqConstantSegmentValue9,GlqConstantSegmentValue9,GlqConstantSegmentValue6,GlqConstantSegmentValue7,GlqConstantSegmentValue8
    FROM U_EGLSTANDAR_GLSegments t 
join gldefrls y on Seg01 = y.GlrBaseAcct 
            AND GlrGLCodeType = CodeType 
            and glrglsegseqcode = segcode 
            and glrorglvl2 = org2
join glsegseq x on x.GlqGLSegSeqCode = Y.GlrGLSegSeqCode 

--select distinct seg06, seg07
--FROM U_EGLSTANDAR_GLSegments t

--select * into tmp_U_EGLSTANDAR_GLSegments from U_EGLSTANDAR_GLSegments
--drop table U_EGLSTANDAR_GLSegments

CREATE INDEX idx_Dsi_DrvTbl_EGLSTANDAR_GLAcctNumbers
ON dbo.U_EGLSTANDAR_GLSegments (SegGLAcctNumber)

--UPDATE dbo.U_EGLSTANDAR_GLSegments
--   SET 
--        --select SegGLAcctNumber,* ,
--        Seg01 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 1, '-')))),
--        Seg02 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 2, '-')))),
--        Seg03 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 3, '-')))),
--        Seg04 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 4, '-')))),
--        Seg06 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 6, '-')))),
--        Seg07 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 7, '-')))),
--        Seg08 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 8, '-')))),
--        Seg09 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 9, '-')))),
--        Seg10 = CONVERT(VARCHAR(32), LTRIM(RTRIM(dbo.dsi_fnlib_GetDelimitedValue2(SegGLAcctNumber, 10, '-'))))
--       --select *
--       from U_EGLSTANDAR_GLSegments

-----------
-- Build TmpAlloc staging table
-----------

SELECT DISTINCT

vCOID,
vEEID,
vPerControl,
vGLAcctNumber,
vRecID,
vGLCodeType,
vCode,
vCodeDesc,
vAcctDesc,
vGenNumber,
vOrgLvl2,
vOrgLvl2Seg,
vHomeOrgLvl2,
vHomeOrgLvl2Seg,
vGLAcctType,
vAllocAmtOrig = vAllocAmt,
vWorkersCompRate = CONVERT(VARCHAR(32), ''),
vAllocAmt,
vDebitAmt,
vCreditAmt,
vAllocHrs,
vPeriodEndDate,
vPerControlDate

INTO dbo.U_EGLSTANDAR_TmpAlloc
--select *
FROM dbo.vw_Dsi_TmpAlloc WITH (NOLOCK)
JOIN dbo.U_EGLSTANDAR_TmpAllocIDs WITH (NOLOCK) ON dsiRecID = vRecID
JOIN dbo.U_EGLSTANDAR_PerControls WITH (NOLOCK) ON xPerControl = vPerControl
WHERE vGLAcctNumber <> 'NOGL'


-- Set all vHomeOrgLvl2 and vHomeOrgLvl2Seg to latest values based on percontrol

;WITH CTE AS (

SELECT DISTINCT

EEID           = a.vEEID,
HomeOrgLvl2    = a.vHomeOrgLvl2,
HomeOrgLvl2Seg = a.vHomeOrgLvl2Seg

FROM dbo.U_EGLSTANDAR_TmpAlloc a
WHERE a.vPerControl = (SELECT MAX(b.vPerControl)
                         FROM dbo.U_EGLSTANDAR_TmpAlloc b
                        WHERE b.vEEID = a.vEEID)
)
UPDATE dbo.U_EGLSTANDAR_TmpAlloc
   SET vHomeOrgLvl2 = vHomeOrgLvl2,
       vHomeOrgLvl2Seg = HomeOrgLvl2Seg
  FROM CTE
 WHERE vEEID = EEID

CREATE INDEX U_dsi_vGenNumber_Checks ON dbo.U_EGLSTANDAR_TmpAlloc (vGenNumber);

IF @ExportCode NOT LIKE 'TEST%'
BEGIN

    DECLARE    @RunTime DATETIME;
    SET        @RunTime = GETDATE();

    --If check exists, update the last time it was processed via a prod run.
    UPDATE dbo.U_dsi_GLProcessedLog
    SET GlgLastRunDate = @RunTime
    WHERE EXISTS (SELECT 1 FROM dbo.U_EGLSTANDAR_TmpAlloc WITH (NOLOCK) WHERE vGenNumber = GlgGenNumber)
    ;

    --Insert check that has never been processed before via a prod run.
    INSERT INTO dbo.U_dsi_GLProcessedLog (GlgGenNumber, GlgDateTimeCreated, GlgLastRunDate)
    SELECT
         GlgGenNumber        = vGenNumber
        ,GlgDateTimeCreated    = @RunTime
        ,GlgLastRunDate        = @RunTime
    FROM (SELECT DISTINCT
            vGenNumber
          FROM dbo.U_EGLSTANDAR_TmpAlloc WITH (NOLOCK)
          WHERE NOT EXISTS (SELECT 1 FROM dbo.U_dsi_GLProcessedLog WITH (NOLOCK) WHERE vGenNumber = GlgGenNumber)) Checks
    ;

END

-----------
-- Build rates table from business rules in dbo.Codes
-----------

CREATE TABLE [dbo].[U_EGLSTANDAR_Rates](

OrgLvl2    VARCHAR(32) NULL,
EffDateRaw VARCHAR(32) NULL,
EffDate    DATE NULL,
ChargeType VARCHAR(32) NULL,
Rate       VARCHAR(32) NULL
)

INSERT INTO dbo.U_EGLSTANDAR_Rates
SELECT

LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 1), ''))),
LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 2), ''))),
NULL,
LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 3), ''))),
LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 4), '')))

FROM dbo.Codes
WHERE CodTable = 'CO_TROONINVOICE'

UPDATE dbo.U_EGLSTANDAR_Rates
   SET EffDate = CONVERT(DATE, EffDateRaw)
 WHERE ISDATE(EffDateRaw) = 1


-- Reduce to latest effective dates

SELECT @MaxPerControlDate = MAX(vPerControlDate) FROM dbo.U_EGLSTANDAR_TmpAlloc

DELETE FROM a
  FROM dbo.U_EGLSTANDAR_Rates a
 WHERE a.EffDate <> (SELECT MAX(b.EffDate)
                       FROM dbo.U_EGLSTANDAR_Rates b
                      WHERE b.OrgLvl2 = a.OrgLvl2
                        AND b.ChargeType = a.ChargeType
                        AND EffDate <= @MaxPerControlDate)


-----------
-- Build OnTopRules table from business rules in dbo.Codes
-----------

SELECT

ChargeType    = CodCode,
Descr         = LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 1), ''))),
CalcRule      = LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 2), '')))

INTO dbo.U_EGLSTANDAR_OnTopRules
FROM dbo.Codes
WHERE CodTable = 'CO_TROONINVOICECHARG'


-----------
-- Build OnTopCharges table from business rules in dbo.Codes
-----------

CREATE TABLE [dbo].[U_EGLSTANDAR_OnTopCharges](

ChargeType    VARCHAR(32) NULL,
DebitAccount  VARCHAR(32) NULL,
CreditAccount VARCHAR(32) NULL
)

INSERT INTO dbo.U_EGLSTANDAR_OnTopCharges
SELECT

CodCode,
LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 1), ''))),
LTRIM(RTRIM(ISNULL(dbo.dsi_fnGetDelimitedValue(CodDesc, '|', 2), '')))

FROM dbo.Codes
WHERE CodTable = 'CO_TROONONTOPCHARGE'


-----------
-- Build OnTopRates table
-----------

SELECT DISTINCT

o.ChargeType,
o.Descr,
o.CalcRule,
w.OrgLvl2,
w.EffDate,
DebitAccount        = c.DebitAccount,
DebitAccountDescr   = debitdescr.GlbBaseSegmentDesc,
CreditAccount       = c.CreditAccount,
CreditAccountDescr  = creditdescr.GlbBaseSegmentDesc,
Rate                = CONVERT(FLOAT, w.Rate),
Headcount           = CONVERT(INT, 0)

INTO dbo.U_EGLSTANDAR_OnTopRates
FROM dbo.U_EGLSTANDAR_OnTopRules o
JOIN dbo.U_EGLSTANDAR_Rates w WITH (NOLOCK) ON w.ChargeType = o.ChargeType
LEFT JOIN dbo.U_EGLSTANDAR_OnTopCharges c WITH (NOLOCK) ON c.ChargeType = o.ChargeType
LEFT JOIN dbo.GLBAccts debitdescr WITH (NOLOCK) ON debitdescr.GlbBaseSegment = c.DebitAccount
LEFT JOIN dbo.GLBAccts creditdescr WITH (NOLOCK) ON creditdescr.GlbBaseSegment = c.CreditAccount


-----------
-- Build and update org level 2s table... which employee belongs in which OrgLvl2 by ChargeType
-----------

SELECT DISTINCT

RowID            = IDENTITY(INT, 1, 1),
EEID             = vEEID,
ChargeType       = Item,
OrgLvl2          = vOrgLvl2,
HomeOrgLvl2      = vHomeOrgLvl2,
OrgCount         = CONVERT(INT, 0),
ValidRow         = CONVERT(CHAR(1), '')

INTO dbo.U_EGLSTANDAR_EmpOrgLvl2s
FROM dbo.U_EGLSTANDAR_TmpAlloc
CROSS JOIN dbo.fn_ListToTable ('CSPR')
LEFT JOIN dbo.U_EGLSTANDAR_OnTopRates WITH (NOLOCK) ON ChargeType = Item AND OrgLvl2 = vHomeOrgLvl2

;WITH CTE AS (

   SELECT DISTINCT

   tmpEEID       = EEID,
   tmpChargeType = ChargeType,
   tmpCnt        = COUNT(1)

   FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s
   GROUP BY EEID, ChargeType
)
UPDATE dbo.U_EGLSTANDAR_EmpOrgLvl2s
   SET OrgCount = tmpCnt
  FROM CTE
 WHERE EEID = tmpEEID
   AND ChargeType = tmpChargeType


-- For multiple hits, set valid rows where home HomeOrgLvl2 = OrgLvl2 and the HomeOrgLvl2 exists in the OnTopRates table

UPDATE a
   SET a.ValidRow = 'Y'
  FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s a
  JOIN dbo.U_EGLSTANDAR_OnTopRates b WITH (NOLOCK) ON b.ChargeType = a.ChargeType AND b.OrgLvl2 = HomeOrgLvl2
 WHERE OrgCount > 1
   AND a.OrgLvl2 = a.HomeOrgLvl2

DELETE FROM a
  FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s a
 WHERE a.OrgCount > 1
   AND a.ValidRow <> 'Y'
   AND EXISTS (SELECT 1 FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s b
                WHERE b.EEID = a.EEID
                  AND b.ChargeType = a.ChargeType
                  AND b.ValidRow = 'Y')


-- If we still have multiples, use the minimum OrgLvl2 for the employee that exists in the OnTopRates table

UPDATE dbo.U_EGLSTANDAR_EmpOrgLvl2s SET ValidRow = ''

UPDATE a
   SET a.ValidRow = 'Y'
  FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s a
  JOIN dbo.U_EGLSTANDAR_OnTopRates b WITH (NOLOCK) ON b.ChargeType = a.ChargeType AND b.OrgLvl2 = a.OrgLvl2
 WHERE OrgCount > 1
   AND a.OrgLvl2 = (SELECT MIN(b.OrgLvl2) FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s b
                     WHERE b.EEID = a.EEID
                       AND b.ChargeType = a.ChargeType)

DELETE FROM a
  FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s a
 WHERE a.OrgCount > 1
   AND a.ValidRow <> 'Y'
   AND EXISTS (SELECT 1 FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s b
                WHERE b.EEID = a.EEID
                  AND b.ChargeType = a.ChargeType
                  AND b.ValidRow = 'Y')


-----------
-- Update the headcounts in U_EGLSTANDAR_OnTopRates
-----------

;WITH CTE AS (

   SELECT DISTINCT

   tmpChargeType = ChargeType,
   tmpOrgLvl2    = OrgLvl2,
   tmpCnt        = COUNT(1)

   FROM dbo.U_EGLSTANDAR_EmpOrgLvl2s
   GROUP BY ChargeType, OrgLvl2
)
UPDATE dbo.U_EGLSTANDAR_OnTopRates
   SET HeadCount = tmpCnt
  FROM CTE
 WHERE ChargeType = tmpChargeType
   AND OrgLvl2 = tmpOrgLvl2


-----------
-- Update WL/WR rows in dbo.U_EGLSTANDAR_TmpAlloc
-----------

;WITH CTE AS (

   SELECT

   RecID = vRecID,
   Rate  = Rate,
   Amt   = PwhIncludedEarnings * Rate

   FROM dbo.U_EGLSTANDAR_TmpAlloc
   JOIN dbo.PwcHist WITH (NOLOCK) ON PwhGenNumber = vGenNumber
   JOIN dbo.U_EGLSTANDAR_Rates WITH (NOLOCK) ON OrgLvl2 = vOrgLvl2 AND ChargeType = 'WC'
   WHERE vGLCodeType in ('WL', 'WR')
)
UPDATE dbo.U_EGLSTANDAR_TmpAlloc
   SET vWorkersCompRate = Rate,
       vAllocAmt  = IIF(vAllocAmt > = 0, Amt, Amt * -1),
       vDebitAmt  = IIF(vGLAcctType = 'D', Amt, vDebitAmt),
       vCreditAmt = IIF(vGLAcctType = 'C', Amt, vCreditAmt)
  FROM CTE
 WHERE vRecID = RecID;

 -- SELECT * FROM dbo.U_EGLSTANDAR_TmpAlloc WHERE vAllocAmt <> vAllocAmtOrig AND vGenNumber = 'E3EP1HDZH0B0'
 -- SELECT * FROM dbo.U_EGLSTANDAR_TmpAlloc WHERE vAllocAmt = vAllocAmtOrig
 --DROP TABLE U_EGLSTANDAR_GLSegments

-----------
-- Build driver table - TmpAlloc
-----------

SELECT DISTINCT

DrvSource                 = CONVERT(VARCHAR(32), 'TmpAlloc'),
DrvChargeType             = CONVERT(VARCHAR(32), ''),
DrvOrgLvl2                = CONVERT(VARCHAR(32), vOrgLvl2),
DrvGLAcctNumber           = vGLAcctNumber,
DrvRecType                = IIF(vGLAcctType = 'D', 'Debit', 'Credit'),
DrvAmtRaw                 = SUM(vAllocAmt),
DrvDebitRaw               = SUM(vDebitAmt),
DrvCreditRaw              = SUM(vCreditAmt),
DrvBaseAccount            = Seg01,
DrvPayGroup               = Seg02,
drvEntity                 = Seg03,  --kjs added entity 20251111
DrvProjectID              = SEG04,  --kjs altered Project to be the last part of Seg 3 instead of Seg 6, which was blank 20251111
DrvDepartment             = Seg05,
DrvFinBaseAcct            = Seg06,
DrvFinSubAcct             = Seg07,
DrvJob                    = Seg08,
DrvBillingGroup           = Seg09,
DrvProject                = SEG10,  --kjs altered Project to be the last part of Seg 3 instead of Seg 6, which was blank 20251203
DrvGLAccountName          = vAcctDesc,
DrvUKGPaycode             = IIF(vGLCodeType NOT IN ('ND', 'NC'), vCodeDesc, ''),
DrvDebitOrCredit          = CONVERT(VARCHAR(32), ''),
DrvDebit                  = CONVERT(VARCHAR(32), ''),
DrvCredit                 = CONVERT(VARCHAR(32), ''),
DrvPayPeriodEndDate       = vPeriodEndDate,
DrvPayDate                = vPerControlDate,
DrvCodeType                 = vGLCodeType
INTO dbo.U_EGLSTANDAR_DrvTbl
--select *
FROM dbo.U_EGLSTANDAR_TmpAlloc t WITH (NOLOCK)
JOIN dbo.U_EGLSTANDAR_GLSegments WITH (NOLOCK) ON SegGLAcctNumber = vGLAcctNumber 
GROUP BY vGLAcctNumber, vGLAcctType, Seg01, Seg02, Seg03, Seg04, Seg05, Seg06,seg07, Seg08, Seg09, Seg10, vGLCodeType, IIF(vGLCodeType NOT IN ('ND', 'NC'), vCodeDesc, ''), vAcctDesc, vPeriodEndDate, vPerControlDate, vOrgLvl2

select distinct DrvBillingGroup from dbo.U_EGLSTANDAR_DrvTbl

-----------
-- Build driver table - Dol*Headcount
-----------

INSERT INTO dbo.U_EGLSTANDAR_DrvTbl
(DrvSource,DrvChargeType,DrvOrgLvl2,DrvGLAcctNumber,DrvRecType,DrvAmtRaw,DrvDebitRaw,DrvCreditRaw,DrvBaseAccount,DrvPayGroup,drvEntity,DrvProjectID,DrvDepartment,DrvFinBaseAcct
    ,DrvFinSubAcct,DrvJob,DrvBillingGroup,DrvProject,DrvGLAccountName,DrvUKGPaycode,DrvDebitOrCredit,DrvDebit,DrvCredit,DrvPayPeriodEndDate,DrvPayDate)
SELECT

DrvSource                 = CalcRule,
DrvChargeType             = ChargeType,
DrvOrgLvl2                = OrgLvl2,
DrvGLAcctNumber           = IIF(Item = 'Debit', DebitAccount, CreditAccount),
DrvRecType                = Item,
DrvAmtRaw                 = SUM(Rate * Headcount),
DrvDebitRaw               = IIF(Item = 'Debit', SUM(Rate * Headcount), 0),
DrvCreditRaw              = IIF(Item = 'Debit', 0, SUM(Rate * Headcount)),
DrvBaseAccount            = IIF(Item = 'Debit', DebitAccount, CreditAccount),
DrvPayGroup               = '',
drvEntity                  = OrgLvl2,
DrvProjectID                    ='',
DrvDepartment             = '',
DrvFinBaseAcct           = '',
DrvFinSubAcct            = '',
DrvJob                    = '',
DrvBillingGroup               = '',
DrvProject              = '',  
DrvGLAccountName          = IIF(Item = 'Debit', DebitAccountDescr, CreditAccountDescr),
DrvUKGPaycode             = Descr,
DrvDebitOrCredit          = '',
DrvDebit                  = '',
DrvCredit                 = '',
DrvPayPeriodEndDate       = NULL, -- updated below
DrvPayDate                = NULL  -- updated below
FROM dbo.U_EGLSTANDAR_OnTopRates WITH (NOLOCK)
CROSS JOIN dbo.fn_ListToTable ('Debit, Credit')
WHERE CalcRule = 'Dol*Headcount'
  AND Headcount > 0
GROUP BY CalcRule, ChargeType, OrgLvl2, Item, IIF(Item = 'Debit', DebitAccount, CreditAccount), Descr, OrgLvl2, IIF(Item = 'Debit', DebitAccountDescr, CreditAccountDescr)


-----------
-- Build driver table - Pct*
-----------

-- Multiplies existing driver entries (e.g. CSPR) by percentages set in dbo.U_EGLSTANDAR_OnTopRates
-- For example, Pct*CSPR will multiply the CSPR entry by its percent for that OrgLvl2

INSERT INTO dbo.U_EGLSTANDAR_DrvTbl
    (DrvSource,DrvChargeType,DrvOrgLvl2,DrvGLAcctNumber,DrvRecType,DrvAmtRaw,DrvDebitRaw,DrvCreditRaw,DrvBaseAccount,DrvPayGroup,drvEntity,DrvDepartment,DrvFinBaseAcct,DrvProjectID,DrvJob
        ,DrvBillingGroup,DrvGLAccountName,DrvUKGPaycode,DrvDebitOrCredit,DrvDebit,DrvCredit,DrvPayPeriodEndDate,DrvPayDate)
SELECT

DrvSource                 = CalcRule,
DrvChargeType             = ChargeType,
DrvOrgLvl2                = DrvOrgLvl2,
DrvGLAcctNumber           = DrvGLAcctNumber,
DrvRecType                = DrvRecType,
DrvAmtRaw                 = DrvAmtRaw * Rate,
DrvDebitRaw               = DrvDebitRaw * Rate,
DrvCreditRaw              = DrvCreditRaw * Rate,
DrvBaseAccount            = DrvBaseAccount,
DrvPayGroup               = '',
drvEntity                   = drvEntity,
DrvDepartment             = DrvDepartment,
DrvFinBaseAcct                   = '',
DrvProjectID                = DrvProjectid,
DrvJob                    = '',
DrvBillingGroup               = '',
DrvGLAccountName          = DrvGLAccountName,
DrvUKGPaycode             = Descr,
DrvDebitOrCredit          = '',
DrvDebit                  = '',
DrvCredit                 = '',
DrvPayPeriodEndDate       = NULL, -- updated below
DrvPayDate                = NULL  -- updated below

FROM dbo.U_EGLSTANDAR_DrvTbl
JOIN dbo.U_EGLSTANDAR_OnTopRates WITH (NOLOCK) ON LEFT(CalcRule, 4) = 'Pct*' AND OrgLvl2 = DrvOrgLvl2
WHERE RTRIM(REPLACE(CalcRule, 'Pct*', '')) = DrvChargeType
  AND CalcRule <> 'Pct*Gross'


-----------
-- Build driver table - Pct*Gross
-----------

INSERT INTO dbo.U_EGLSTANDAR_DrvTbl
    (DrvSource,DrvChargeType,DrvOrgLvl2,DrvGLAcctNumber,DrvRecType,DrvAmtRaw,DrvDebitRaw,DrvCreditRaw,DrvBaseAccount,DrvPayGroup,DrvEntity
        ,DrvDepartment,DrvFinBaseAcct,DrvProjectID,DrvJob,DrvCodeType,DrvGLAccountName,DrvUKGPaycode,DrvDebitOrCredit,DrvDebit,DrvCredit,DrvPayPeriodEndDate,DrvPayDate)
SELECT

DrvSource                 = CalcRule,
DrvChargeType             = ChargeType,
DrvOrgLvl2                = OrgLvl2,
DrvGLAcctNumber           = IIF(Item = 'Debit', DebitAccount, CreditAccount),
DrvRecType                = Item,
DrvAmtRaw                 = SUM(vAllocAmt * Rate),
DrvDebitRaw               = IIF(Item = 'Debit', SUM(vAllocAmt * Rate), 0),
DrvCreditRaw              = IIF(Item = 'Debit', 0, SUM(vAllocAmt * Rate)),
DrvBaseAccount            = IIF(Item = 'Debit', DebitAccount, CreditAccount),
DrvPayGroup               = '',
DrvEntity                  = OrgLvl2,
DrvDepartment             = '',
DrvFinBaseAcct                   = '',
DrvProjectID               = '',
DrvJob                    = '',
DrvCodeType               = '',
DrvGLAccountName            = IIF(Item = 'Debit', DebitAccountDescr, CreditAccountDescr),
DrvUKGPaycode             = Descr,
DrvDebitOrCredit          = '',
DrvDebit                  = '',
DrvCredit                 = '',
DrvPayPeriodEndDate       = NULL, -- updated below
DrvPayDate                = NULL  -- updated below

FROM dbo.U_EGLSTANDAR_TmpAlloc WITH (NOLOCK)
JOIN dbo.U_EGLSTANDAR_OnTopRates WITH (NOLOCK) ON OrgLvl2 = vOrgLvl2 AND ChargeType = 'MULT'
CROSS JOIN dbo.fn_ListToTable ('Debit, Credit')
JOIN dbo.EarnCode WITH (NOLOCK) ON ErnEarnCode = vCode AND ErnUseDedOffset = 'N'
WHERE vGLCodeType = 'EE'
  AND CalcRule = 'Pct*Gross'
GROUP BY CalcRule, ChargeType, OrgLvl2, Item, vGLAcctNumber, IIF(Item = 'Debit', DebitAccount, CreditAccount), IIF(Item = 'Debit', DebitAccountDescr, CreditAccountDescr), Descr


-----------
-- Build driver table - Flat
-----------

INSERT INTO dbo.U_EGLSTANDAR_DrvTbl
    (DrvSource,DrvChargeType,DrvOrgLvl2,DrvGLAcctNumber,DrvRecType,DrvAmtRaw,DrvDebitRaw,DrvCreditRaw,DrvBaseAccount,DrvPayGroup,DrvEntity
        ,DrvDepartment,DrvFinBaseAcct,DrvProjectID,DrvJob,DrvCodeType,DrvGLAccountName,DrvUKGPaycode,DrvDebitOrCredit,DrvDebit,DrvCredit,DrvPayPeriodEndDate,DrvPayDate)
SELECT

DrvSource                 = CalcRule,
DrvChargeType             = ChargeType,
DrvOrgLvl2                = OrgLvl2,
DrvGLAcctNumber           = IIF(Item = 'Debit', DebitAccount, CreditAccount),
DrvRecType                = Item,
DrvAmtRaw                 = SUM(Rate),
DrvDebitRaw               = IIF(Item = 'Debit', SUM(Rate), 0),
DrvCreditRaw              = IIF(Item = 'Debit', 0, SUM(Rate)),
DrvBaseAccount            = IIF(Item = 'Debit', DebitAccount, CreditAccount),
DrvPayGroup               = '',
DrvEntity           = OrgLvl2,
DrvDepartment             = '',
DrvFinBaseAcct                   = '',
DrvProjectID                = '',
DrvJob                    = '',
DrvCodeType               = '',
DrvGLAccountName            = IIF(Item = 'Debit', DebitAccountDescr, CreditAccountDescr),
DrvUKGPaycode             = Descr,
DrvDebitOrCredit          = '',
DrvDebit                  = '',
DrvCredit                 = '',
DrvPayPeriodEndDate       = NULL, -- updated below
DrvPayDate                = NULL  -- updated below

FROM dbo.U_EGLSTANDAR_OnTopRates WITH (NOLOCK)
CROSS JOIN dbo.fn_ListToTable ('Debit, Credit')
WHERE CalcRule = 'Flat'
  AND OrgLvl2 IN (SELECT DISTINCT vOrgLvl2 FROM dbo.U_EGLSTANDAR_TmpAlloc)
GROUP BY CalcRule, ChargeType, OrgLvl2, Item, IIF(Item = 'Debit', DebitAccount, CreditAccount), Descr, OrgLvl2, IIF(Item = 'Debit', DebitAccountDescr, CreditAccountDescr)


-----------
-- Final driver edits
-----------

DELETE FROM dbo.U_EGLSTANDAR_DrvTbl
 WHERE DrvDebitRaw - DrvCreditRaw = 0

UPDATE dbo.U_EGLSTANDAR_DrvTbl
   SET DrvAmtRaw = DrvAmtRaw * -1
 WHERE DrvRecType = 'Credit'
   AND DrvSource <> 'TmpAlloc'

UPDATE dbo.U_EGLSTANDAR_DrvTbl
   SET DrvDebitOrCredit = FORMAT(DrvAmtRaw, '0.00')

UPDATE dbo.U_EGLSTANDAR_DrvTbl
   SET DrvDebit  = IIF(DrvDebitRaw > DrvCreditRaw, FORMAT(DrvDebitRaw - DrvCreditRaw, '0.00'), '0.00'),
       DrvCredit = IIF(DrvDebitRaw < DrvCreditRaw, FORMAT(DrvCreditRaw - DrvDebitRaw, '0.00'), '0.00')


;WITH CTE AS (

   SELECT

   PayPeriodEndDate = MAX(DrvPayPeriodEndDate),
   PayDate          = MAX(DrvPayDate)

   FROM dbo.U_EGLSTANDAR_DrvTbl

)
UPDATE dbo.U_EGLSTANDAR_DrvTbl
   SET DrvPayPeriodEndDate = PayPeriodEndDate,
       DrvPayDate = PayDate
  FROM CTE
 WHERE DrvSource <> 'TmpAlloc'

 /*****************
 Custom log table create. This should only ever be done once. If this table is missing, get a SaaS back-up.

 
CREATE TABLE dbo.U_dsi_GLProcessedLog (
GlgGenNumber VARCHAR(12) PRIMARY KEY
,GlgDateTimeCreated DATETIME
,GlgLastRunDate DATETIME)

CREATE INDEX U_dsi_GLProcessedLog_Created ON dbo.U_dsi_GLProcessedLog (GlgDateTimeCreated);
CREATE INDEX U_dsi_GLProcessedLog_LastRan ON dbo.U_dsi_GLProcessedLog (GlgLastRunDate);

 *****************/

END;
GO
CREATE   VIEW dbo.dsi_vwEGLSTANDAR_Export AS
    SELECT TOP 200000000 Data FROM dbo.U_EGLSTANDAR_File WITH (NOLOCK)
    ORDER BY RIGHT(RecordSet,2), InitialSort

GO


-----------
-- This is a web export; insert a record into the CustomTemplates table to make it visible
-----------

INSERT INTO dbo.CustomTemplates (Engine, EngineCode)
SELECT Engine = AdhEngine, EngineCode = AdhFormatCode
  FROM dbo.AscDefH WITH (NOLOCK)
 WHERE AdhFormatCode = 'EGLSTANDAR' AND AdhEngine = 'EMPEXPORT'
   AND NOT EXISTS (SELECT 1 FROM dbo.CustomTemplates WHERE EngineCode = AdhFormatCode AND Engine = AdhEngine);


-----------
-- Restore target paths from U_dsi_RipoutParms
-----------

UPDATE dbo.U_dsi_Configuration
   SET CfgValue = rpoParmValue02
  FROM dbo.U_dsi_Configuration
  JOIN dbo.U_dsi_RipoutParms WITH (NOLOCK) ON rpoFormatCode = FormatCode AND rpoParmValue01 = CfgName
 WHERE rpoFormatCode = 'EGLSTANDAR'
   AND rpoParmType = 'Path'


-----------
-- Restore expSystemIDs from U_dsi_RipoutParms
-----------

UPDATE dbo.AscExp
   SET expSystemID = rpoParmValue02
  FROM dbo.AscExp
  JOIN dbo.U_dsi_RipoutParms WITH (NOLOCK) ON rpoFormatCode = expFormatCode AND rpoParmValue01 = expExportCode
 WHERE rpoFormatCode = 'EGLSTANDAR'
   AND rpoParmType = 'expSystemID'


-----------
-- This is a web export; set paths to NULL
-----------

EXEC dbo.dsi_sp_UpdateConfig 'EGLSTANDAR', 'ExportPath', 'V', NULL
EXEC dbo.dsi_sp_UpdateConfig 'EGLSTANDAR', 'TestPath', 'V', NULL


-----------
-- This is a web export; set UseFileName = Y
-----------

EXEC dbo.dsi_sp_UpdateConfig 'EGLSTANDAR', 'UseFileName', 'V', 'Y'


-- End ripout